<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="http_proxy" value="http://10.20.14.35:8080" />
    <add key="https_proxy" value="http://10.20.14.35:8080" />
    <add key="repositoryPath" value="NugetPackages" />
    <add key="globalPackagesFolder" value="NugetPackages" />    
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />        
    <add key="local" value="NugetPackages" />
  </packageSources>
  <activePackageSource>
    <!-- Only one active source-->
    <!--<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />-->

    <!-- All non-disabled sources are active -->
    <!--<add key="All" value="(Aggregate source)" />-->
  </activePackageSource>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <!--<trustedSigners>
    <author name="microsoft">
      <certificate fingerprint="3F9001EA83C560D712C24CF213C3D312CB3BFF51EE89435D3430BD06B5D0EECE" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <owners>microsoft;aspnet;nuget</owners>
    </repository>
  </trustedSigners>-->
  <!-- 
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="False" />
	</packageManagement> -->
</configuration>